stages:
  - build
variables:
  LC_ALL: "en_US.UTF-8"
  LANG: "en_US.UTF-8"
  GITLAB_VERSION: $GITLAB_VERSION
  GITLAB_IOS_VERSION: $GITLAB_IOS_VERSION
  GITLAB_ANDROID_VERSION: $GITLAB_ANDROID_VERSION

workflow:
  rules:
    - if: '$GITLAB_BUILD_DEPLOY == "true" && $GITLAB_VERSION != null && $GITLAB_VERSION != ""'
    - when: never

build:
  stage: build
  script:
    - |
      echo "检查变量值："
      echo "Version: $GITLAB_VERSION"
      echo "iOS Version: $GITLAB_IOS_VERSION"
      echo "Android Version: $GITLAB_ANDROID_VERSION"

      sh bundle.sh $GITLAB_VERSION $GITLAB_IOS_VERSION $GITLAB_ANDROID_VERSION $CI_COMMIT_REF_NAME
  tags:
    - mac-studio
  only:
    - web
    - api
    - pipelines
  



